body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }

body {  color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }

a { color:#555; text-decoration:none; }

li{list-style:none;}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }